.navBar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  gap: 38rem;
  background-color: #ffffff;
  height: 20px;
  z-index: 2;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.04);
}
