.notification-border{
    padding: 5rem;
    border-left: 1px;
    border-top: 1px;
}
.header{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #03435F;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 198px;
    height: 39px;
}
.notification-message1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    gap: 430px;
    width: 720px;
    height: 74px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0 , 0 ,0.04);
    flex: none;
    order: 0;
    flex-grow: 0;
}
.day-message{
    width: 110px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #21334F;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.claimed-message{
    width: 100px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #21334F;
    margin-left: 30rem;
}
.sent-message{
    width: 203px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #21334F;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.notification-message2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    width: 740px;
    height: 90px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
    flex: none;
    order: 1;
    flex-grow: 0;
}
.fund-message{
    width: 245px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #21334F;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.notification-message3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    width: 740px;
    height: 89.4px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
    flex: none;
    order: 2;
    flex-grow: 0;
}
.appriciated-message{
   
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #21334F
}

