@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #E5E5E5;
}

.reward {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #55A630;
    margin-top: 20px;
    text-align: center;
}

.logo{
    display: block;
    position: absolute;
    margin-left: 345px;
}

.googleIcon{
    position: absolute;
    margin-left: -215px;
    margin-top: 22px;
    width: 15px;

}

.form-container {
    width: 505px;
    height: 722px;
    background: #FFFFFF;
    margin: auto;
    padding: 80px;
    margin-top: 20px;
}

.RegisterScreenForm {
    margin-left: auto;
    margin-right: auto;
}

.signup-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #21334F;
    position: relative;
    bottom: 2rem;
}

label {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #21334F;

}

input {
    width: 320px;
    height: 28px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    padding: 8px 16px;

}

input::placeholder{
    font-weight: 400;
    font-size: 8px;
    line-height: 15px;
    color: #C4C4C4;

}

.btn {
    width: 320px;
    height: 28px;
    background: #55A630;
    padding: 8px 16px;
    margin-top: 20px;
    background: #55A630;
    border: 1px solid #55A630 ;

}

hr {
    /* width: 100px; */
    margin-top: 20px;
    display: block;
    width: 153px;
    height: 0px;

border: 1px solid #D9D9D9;
}

.line {
    display: flex;
    flex-direction: column;
}

.lineOne {
    display: flex;
}

.google {
    margin-top: 15px;
    
}

.google::placeholder {
    font-weight: 500;
    font-size: 8px;
    line-height: 15px;
    color: #21334F;
    text-align: center;
}

.signIn{
font-size: 12px;
font-weight: 700;
line-height: 15px;
letter-spacing: 0em;
text-align: left;
text-decoration: none;
padding-left: 80px;
color: rgba(33, 51, 79, 1);

}

.signIn span{
   
color:rgba(128, 185, 24, 1);

}
