@import url("https://fonts.googleapis.com/css?family=Inter:408,700,500,600");

.loginContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px auto;
  /* width: 1440px; */
  /* height: 1024px; */
  background: #f8f8f8;
  box-sizing: border-box;
}

.leftContainer {
  padding: 40px;
}

.container__img {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 10px;
  margin-left: 30px;
}

.card-form__label,
.card-form__input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.card-form__input {
  width: 520px;
  height: 30px;
}

.card-form__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #21334f;
}

div.rightContainer img {
  width: 400px;
  height: 380px;
  /* height: 600px; */
  display: inline-block;
  margin: 10px auto;
}

.resetButton {
  background: #80b918;
  width: 520px;
  align-items: center;
  color: white;
  border: none;
  height: 35px;
}

.resetPasswordButton {
  background-color: #cee5cb;
  color: #14a800;
  opacity: 0.4;
  width: 110px;
  margin: 70px 170px;
  align-content: center;
  height: 35px;
}

p {
  color: #14a800;
}
